*{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: pink;
  display: flex;
  height : 100px;
  align-items: center;
}
.title {
  margin: 20px;
  display: flex;
  align-items: center;
  font-size: 30px;
  
}
.buttons a{
  margin-right: 10px;
  font-size: 25px;
  
}
.buttons {
  display: flex;
  align-items: center;
  width : 80%;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: pink;
  display: flex;
  width : 100%;
  justify-content: center;
  height : 50px;
  align-items: center;
}
.image-div {
  margin-left: 20px;
  margin-right: 20px;
  height : 300px;
}
.image {
  width : 100%;
  border-radius: 10px;
}