.footer {
    position: sticky;
    background-color: grey;
    display: flex;
    width : 100%;
    justify-content: center;
    height : 70px;
    align-items: center;
    position: absolute;
  }

#ad, #an{
  display: block;
}