
.editProfileContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8d8585;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .editProfileForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  .saveButton {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveButton:hover {
    background-color: #0056b3;
  }
  .footer {
    
    background-color: grey;
    display: flex;
    width : 100%;
    justify-content: center;
    height : 50px;
    align-items: center;
    position: absolute;
    bottom: 0px;
  }