
  #p {
    color: rgb(33, 114, 37);
    font-size: 48px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .login-container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 250px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    position: absolute;
    top : 32%;
  }
  
  #logo {
    width: 120px;
    height: 120px;
    border-radius: 50%; /*left-top then clockwise*/
    background-color: #08ddfe;
    position: absolute;
    top: 15%;
    left: 45%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-cred {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    margin: 6px;
    background-color: #fa5e04;
    width: 210px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
  
  button:hover {
    background-color: #fa5e04;
    border-radius: 10px;
    border-bottom: 5px solid black;
  }
  
  input[type='text']:focus,
  input[type='password']:focus {
    border-color: yellow;
    box-shadow: 0 0 10px rgb(79, 52, 126);
  }
  
  #signUp:hover {
    border-bottom: 2px solid yellow;
    box-shadow: 0 0 10px green;
    color: #08ddfe;
    text-decoration: none;
  }
  
  #logo:active {
    transform: scale(2.5);
  }
  
  #error-message {
    color: red;
  }
